<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maxParticles</key>
    <integer>1000</integer>
    <key>angle</key>
    <real>290.46</real>
    <key>angleVariance</key>
    <real>75.07</real>
    <key>duration</key>
    <real>-1</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorGreen</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>1</real>
    <key>startColorAlpha</key>
    <real>0.38</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>1</real>
    <key>finishColorGreen</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>1</real>
    <key>finishColorAlpha</key>
    <real>0.38</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0.03</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.35000000000000003</real>
    <key>startParticleSize</key>
    <real>11.43</real>
    <key>startParticleSizeVariance</key>
    <real>11.97</real>
    <key>finishParticleSize</key>
    <real>12.98</real>
    <key>finishParticleSizeVariance</key>
    <real>11</real>
    <key>sourcePositionx</key>
    <real>300</real>
    <key>sourcePositiony</key>
    <real>300</real>
    <key>sourcePositionVariancex</key>
    <real>477.33</real>
    <key>sourcePositionVariancey</key>
    <real>276.33</real>
    <key>rotationStart</key>
    <real>35.31</real>
    <key>rotationStartVariance</key>
    <real>14.96</real>
    <key>rotationEnd</key>
    <real>103.12</real>
    <key>rotationEndVariance</key>
    <real>312.23</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <real>400.71</real>
    <key>gravityy</key>
    <real>-312.48</real>
    <key>speed</key>
    <real>343.1</real>
    <key>speedVariance</key>
    <real>313.66</real>
    <key>radialAcceleration</key>
    <real>35.19</real>
    <key>radialAccelVariance</key>
    <real>130.32</real>
    <key>tangentialAcceleration</key>
    <real>153.3</real>
    <key>tangentialAccelVariance</key>
    <real>250.02</real>
    <key>maxRadius</key>
    <real>376.77</real>
    <key>maxRadiusVariance</key>
    <real>394.88</real>
    <key>minRadius</key>
    <real>468.92</real>
    <key>rotatePerSecond</key>
    <real>80.32</real>
    <key>rotatePerSecondVariance</key>
    <real>68.2</real>
    <key>particleLifespan</key>
    <real>7.98</real>
    <key>particleLifespanVariance</key>
    <real>4.51</real>
    <key>textureFileName</key>
    <string>texture.png</string>
  </dict>
</plist>